<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>65FD6J5497</string>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.seechess.seechess</key>
        <string>seechess AppStore CLI v3</string>
        <key>com.seechess.seechess.share</key>
        <string>seechess share AppStore CLI</string>
    </dict>
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>
